 h1{
       
    color: brown;
} 

    h1{
        color: yellow;
        font-size: 12px;
    }

    h2 {

        color: rgb(9, 94, 128);
        font-size: 32px;
    }

    body{

        background-color: rgb(127, 182, 0);

    }

  