 h1{
       
    color: brown;
} 

    h1{
        color: yellow;
        font-size: 12px;
    }

    h2 {

        color: rgb(9, 94, 128);
        font-size: 32px;
    }

    #barra{
        background-color: gold;
        height: 60px;

    }
    #conteudo{
        
        background-color: yellowgreen;
        height: 750px;
        

    }
    #rodape{
        background-color: pink;

        height: 60px;
    }


    #secao{
        display: flex;
        justify-content: center;

    }